<h3>Your registration to Sublylo.com is almost complete !</h3>

<p>To validate your email and thus be able to proceed with your purchases, click on the following link:</p>

<a href="http://localhost:3000/confirm-user/{{ token }}">Confirm my registration</a>